---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const allDemos = await getCollection("demos")

const grouped = allDemos.reduce((acc, demo) => {
  const category = demo.data.category;
  if (!acc[category]) acc[category] = [];
  acc[category].push(demo);
  return acc;
}, {} as Record<string, typeof allDemos>);

for (const category in grouped) {
  grouped[category] = grouped[category]
    .sort((a, b) => {
      const dateA = new Date(a.data.date ?? 0);
      const dateB = new Date(b.data.date ?? 0);
      return dateB.getTime() - dateA.getTime();
    })
    .slice(0, 4);
}
---

<BaseLayout>
	<h1>Web animations</h1>
	{Object.entries(grouped).map(([category, demos]) => (
		<section>
			<div class="flex w-full gap-4">
				<h2>{category.toUpperCase()}</h2>
				<a href={`/${category}`}>View all</a>
			</div>
			<ul>
				{demos.map(demo => (
					<li>
						<a href={demo.slug}>{demo.data.title}</a>
					</li>
				))}
			</ul>
		</section>
	))}
</BaseLayout>
