---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const demos = await getCollection("demos")
---

<BaseLayout>
	<h1>Web animations</h1>
	<ul>
		{demos.map(demo => (
			<li><a href={demo.slug}>{demo.data.title}</a></li>
		))}
	</ul>
</BaseLayout>
