---
import Container from "./Container.astro";

---

<footer class="h-32 text-fg-muted mt-32">
  <Container>
    <div class="flex h-full items-center justify-center">
      <p>by <a href="https://instagram.com/tinux.labs" target="_blank" rel="noreferrer noopener">@tinux.labs</a></p>
    </div>
  </Container>
</footer>