---
import Container from "./Container.astro";

---

<header class="h-[72px] w-full">
  <Container>
    <div class="flex w-full h-full items-center justify-between">
      <a href="/" class="font-display italic text-2xl">webanim</a>
      <div class="flex items-center gap-8 text-fg-muted">
        <a href="https://instagram.com/tinux.labs" target="_blank" rel="noopener noreferrer">
          Instagram
        </a>
        <a href="https://github.com/tinux-labs" target="_blank" rel="noopener noreferrer">
          Github
        </a>
      </div>
    </div>
  </Container>
</header>