---
import BaseLayout from "./BaseLayout.astro";
import {getDemoComponent} from '~/utils/demos'

const { frontmatter } = Astro.props
const { component, title } = frontmatter

let DemoComponent;
try {
  DemoComponent = getDemoComponent(component)
} catch(error) {
  console.error(`Failed to load component: ${component}`, error)
}
---

<BaseLayout title={title}>
  <div class="min-h-screen flex flex-col">
    <section class="preview min-h-80">
      <div class="max-w-7xl mx-auto px-6 pt-12">
        <DemoComponent />
      </div>
    </section>
    <section class="docs flex-1 bg-neutral-900">
      <div class="max-w-7xl mx-auto px-6 pt-12 prose prose-invert">
        <slot />
      </div>
    </section>
  </div>
</BaseLayout>